In [1]:
import pandas as pd
import os

In [8]:
os.getcwd()
os.chdir('/Users/rdhir/Documents/maxpreps-data-analysis/Data/Demographic Information/demographic_data')

In [9]:
ls

Demographics.csv     finance.csv          public_schools.csv
agency_id.csv        private_schools.csv

In [30]:
demo = pd.read_csv('Demographics.csv')

In [31]:
demo.dtypes

Unnamed: 0                               int64
School Name                             object
Address                                 object
City                                    object
State                                   object
Zipcode                                  int64
American Indian/Alaska Native          float64
Asian or Asian/Pacific Islander        float64
Hispanic                               float64
Black                                  float64
White                                  float64
Nat. Hawaiian or Other Pacific Isl.    float64
Two or More Races                      float64
Total Students                         float64
Grades 9-12 Students                   float64
Free and Reduced Lunch                 float64
Pupil/Teacher Ratio                    float64
Charter School                            bool
Magnet School                             bool
Private School                           int64
School ID                               object
High School                              int64
dtype: object

### Adding Agency ID to the Demographic Dataset

In [32]:
#we want to add the agency ID to the demographic dataset so that we can add the fiscal data using the agency ID as primary key
agency = pd.read_csv('agency_id.csv').drop(columns=['School Name', 'State Name [Public School] Latest available year', 'Location Address 1 [Public School] 2021-22', 'Location City [Public School] 2021-22']).rename(columns={'Agency ID - NCES Assigned [Public School] Latest available year': 'Agency ID',
                                                                                                                                                                                                            'School ID - NCES Assigned [Public School] Latest available year': 'School ID'})
agency['Agency ID'] = agency['Agency ID'].astype(str)
agency['School ID'] = agency['School ID'].astype(str)
agency.dtypes

School ID    object
Agency ID    object
dtype: object

In [33]:
#perform the merge using school id as primary key
demo = pd.merge(demo, agency, on='School ID', how='left').drop(columns = ['Unnamed: 0'])
demo

,School Name,Address,City,State,Zipcode,American Indian/Alaska Native,Asian or Asian/Pacific Islander,Hispanic,Black,White,...,Total Students,Grades 9-12 Students,Free and Reduced Lunch,Pupil/Teacher Ratio,Charter School,Magnet School,Private School,School ID,High School,Agency ID
0,112 ALC INDEPENDENT STUDY,11 Peavey Rd,Chaska,MN,55318,4.4,2.2,26.7,11.1,46.7,...,45.0,45.0,0.200,0.00,False,False,0,270819004415.0,1,2708190.0
1,112 ALC SEAT-BASED,11 Peavey Rd,Chaska,MN,55318,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,False,False,0,270819005118.0,1,2708190.0
2,129-M-SE-2,445 W Amelia St,Orlando,FL,32801,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,False,True,0,120144008942.0,1,1201440.0
3,18+ PROGRAM,5807 Osborne Drive West,Hastings,NE,68901,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,True,True,0,318009002335.0,1,3180090.0
4,196ONLINE HIGH SCHOOL,3455 153Rd St W,Rosemount,MN,55068,1.4,12.8,12.8,18.9,45.3,...,148.0,148.0,0.216,17.75,False,False,0,273239005352.0,1,2732390.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37313,ZION CHRISTIAN,6102 County Road 207,Millersburg,OH,44654,0.0,0.0,0.0,0.0,100.0,...,72.0,5.0,NaN,8.09,True,True,1,A1302586,1,NaN
37314,ZION CHRISTIAN ACADEMY,2323 Zion Rd,Columbia,TN,38401,0.0,1.0,3.4,0.0,91.1,...,408.0,131.0,NaN,10.95,True,True,1,02059234,1,NaN
37315,ZION CHRISTIAN SCHOOL,7555 Byron Center Ave Sw,Byron Center,MI,49315,0.0,0.7,0.0,0.3,98.0,...,315.0,95.0,NaN,11.92,True,True,1,A0301887,1,NaN
37316,ZION'S HILL BAPTIST SCHOOL,3464 N 1500 W,Linton,IN,47441,0.0,0.0,0.0,0.0,100.0,...,12.0,8.0,NaN,3.00,True,True,1,BB170178,1,NaN
37317,ZVI DOV ROTH ACADEMY OF YESHIVA RAMBAM,3300 Kings Hwy,Brooklyn,NY,11234,0.0,0.0,0.0,0.0,100.0,...,67.0,67.0,NaN,11.17,True,True,1,A9903303,1,NaN

### Adding Fiscal Data to the Demographic Dataset

In [38]:
#now we want to add the finance data to the demographic dataset using agency ID as the primary key
#load in the finance data and format the data to be clear
finance_df = pd.read_csv('finance.csv').drop(columns=["Agency Name", "State Name [District] Latest available year"]).rename(columns={"Agency ID - NCES Assigned [District] Latest available year": "Agency ID",
                                                                                                                                     'Total Expenditures (TOTALEXP) per Pupil (V33) [District Finance] 2020-21': 'Total Expenditures per Pupil'})
finance_df['Agency ID'] = finance_df['Agency ID'].astype(str) #change the data type of the agency ID to string

finance_df

      Total Expenditures per Pupil  Agency ID
0                            11753  1800046.0
1                             8424  4200091.0
2                            11652  3500187.0
3                                †  1700024.0
4                                †  4280010.0
...                            ...        ...
19387                        19550  3028910.0
19388                          NaN        nan
19389                          NaN        nan
19390                          NaN        nan
19391                          NaN        nan

[19392 rows x 2 columns]

In [40]:
#perform a left join on the demo dataset using the agency ID as the primary key
demo = pd.merge(demo, finance_df, on='Agency ID', how='left')
demo

,School Name,Address,City,State,Zipcode,American Indian/Alaska Native,Asian or Asian/Pacific Islander,Hispanic,Black,White,...,Grades 9-12 Students,Free and Reduced Lunch,Pupil/Teacher Ratio,Charter School,Magnet School,Private School,School ID,High School,Agency ID,Total Expenditures per Pupil
0,112 ALC INDEPENDENT STUDY,11 Peavey Rd,Chaska,MN,55318,4.4,2.2,26.7,11.1,46.7,...,45.0,0.200,0.00,False,False,0,270819004415.0,1,2708190.0,15825
1,112 ALC SEAT-BASED,11 Peavey Rd,Chaska,MN,55318,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,False,False,0,270819005118.0,1,2708190.0,15825
2,129-M-SE-2,445 W Amelia St,Orlando,FL,32801,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,False,True,0,120144008942.0,1,1201440.0,13197
3,18+ PROGRAM,5807 Osborne Drive West,Hastings,NE,68901,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,True,True,0,318009002335.0,1,3180090.0,†
4,196ONLINE HIGH SCHOOL,3455 153Rd St W,Rosemount,MN,55068,1.4,12.8,12.8,18.9,45.3,...,148.0,0.216,17.75,False,False,0,273239005352.0,1,2732390.0,14871
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37313,ZION CHRISTIAN,6102 County Road 207,Millersburg,OH,44654,0.0,0.0,0.0,0.0,100.0,...,5.0,NaN,8.09,True,True,1,A1302586,1,NaN,NaN
37314,ZION CHRISTIAN ACADEMY,2323 Zion Rd,Columbia,TN,38401,0.0,1.0,3.4,0.0,91.1,...,131.0,NaN,10.95,True,True,1,02059234,1,NaN,NaN
37315,ZION CHRISTIAN SCHOOL,7555 Byron Center Ave Sw,Byron Center,MI,49315,0.0,0.7,0.0,0.3,98.0,...,95.0,NaN,11.92,True,True,1,A0301887,1,NaN,NaN
37316,ZION'S HILL BAPTIST SCHOOL,3464 N 1500 W,Linton,IN,47441,0.0,0.0,0.0,0.0,100.0,...,8.0,NaN,3.00,True,True,1,BB170178,1,NaN,NaN
37317,ZVI DOV ROTH ACADEMY OF YESHIVA RAMBAM,3300 Kings Hwy,Brooklyn,NY,11234,0.0,0.0,0.0,0.0,100.0,...,67.0,NaN,11.17,True,True,1,A9903303,1,NaN,NaN

### Merge Demographic data onto Maxpreps Dataset

In [58]:
#load in maxpreps data
os.getcwd()
os.chdir('/Users/rdhir/Documents/maxpreps-data-analysis/Data')
maxpreps = pd.read_csv('maxpreps.csv')
maxpreps

,Date,Team 1,Team 2,Venue,Game Type,Team 1 Score,Team 2 Score,Outcome,Team 1 Address,Team 1 City,...,Team 1 Rating,Team 2 Address,Team 2 City,Team 2 State,Team 2 Zipcode,Team 2 Boys Sports,Team 2 Girls Sports,Team 2 SOS,Team 2 State Rank,Team 2 Rating
0,12/2,Academy of Holy Angels,Edison,H,Regular Season,72.0,62.0,L,6600 Nicollet Ave S,Richfield,...,3.64,700 NE 22Nd Ave,Minneapolis,MN,55418.0,"Baseball,Basketball,Football,Lacrosse,Soccer,V...","Basketball,Lacrosse,Soccer,Softball,Tennis,Vol...",5.0,189.0,2.46
1,12/7,Academy of Holy Angels,Minneapolis Southwest,A,Regular Season,62.0,37.0,L,6600 Nicollet Ave S,Richfield,...,3.64,3414 W 47Th St,Minneapolis,MN,55410.0,"Baseball,Basketball,Football,Lacrosse,Soccer,V...","Basketball,Lacrosse,Soccer,Softball,Tennis,Vol...",8.6,86.0,10.99
2,12/9,Academy of Holy Angels,Highland Park,A,Regular Season,65.0,50.0,W,6600 Nicollet Ave S,Richfield,...,3.64,1015 Snelling Ave S,St. Paul,MN,55116.0,"Baseball,Basketball,Football,Ice Hockey,Soccer...","Basketball,Ice Hockey,Soccer,Softball,Tennis,V...",-0.3,287.0,-5.43
3,12/14,Academy of Holy Angels,Two Rivers,H,Regular Season,74.0,69.0,L,6600 Nicollet Ave S,Richfield,...,3.64,1897 Delaware Ave,Mendota Heights,MN,55118.0,"Baseball,Basketball,Football,Ice Hockey,Lacros...","Basketball,Ice Hockey,Lacrosse,Soccer,Softball...",4.3,129.0,7.36
4,12/16,Academy of Holy Angels,St. Thomas,H,Regular Season,74.0,70.0,L,6600 Nicollet Ave S,Richfield,...,3.64,949 Mendota Heights Rd,Mendota Heights,MN,55120.0,"Baseball,Basketball,Football,Ice Hockey,Lacros...",NaN,7.4,101.0,9.92
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
468312,2/10,White Sulphur Springs,West Yellowstone,H,District,77.0,54.0,L,405 Central Ave S,White Sulphur Springs,...,-5.34,411 N. Geyser,Yellowstone,MT,59758.0,"Basketball,Football,Soccer,Track & Field,Wrest...","Basketball,Soccer,Softball,Volleyball",7.1,39.0,9.12
468313,2/12,White Sulphur Springs,Shields Valley,H,District,91.0,59.0,L,405 Central Ave S,White Sulphur Springs,...,-5.34,405 1st Street East,Clyde Park,MT,59018.0,"Basketball,Football,Soccer,Track & Field,Wrest...","Basketball,Soccer,Softball,Volleyball",3.2,42.0,8.75
468314,2/16,White Sulphur Springs,Lone Peak,H,Playoff,71.0,60.0,W,405 Central Ave S,White Sulphur Springs,...,-5.34,45465 Gallatin Rd.,Gallatin Gateway,MT,59730.0,"Baseball,Basketball,Football,Soccer","Basketball,Volleyball",1.7,129.0,-11.35
468315,2/17,White Sulphur Springs,Shields Valley,H,Playoff,74.0,48.0,L,405 Central Ave S,White Sulphur Springs,...,-5.34,405 1st Street East,Clyde Park,MT,59018.0,"Basketball,Football,Soccer,Track & Field,Wrest...","Basketball,Soccer,Softball,Volleyball",3.2,42.0,8.75
468316,2/18,White Sulphur Springs,Ennis,H,Playoff,62.0,46.0,L,405 Central Ave S,White Sulphur Springs,...,-5.34,223 Charles Ave.,Ennis,MT,59729.0,"Basketball,Football,Soccer,Track & Field,Wrest...","Basketball,Soccer,Softball,Volleyball",-1.6,72.0,2.33

In [75]:
#take out only the nessesary columns from the maxpreps dataset
cols = ['Team 1', 'Team 1 URL', 'Team 1 Address', 'Team 1 Zipcode']
X = maxpreps[cols]
X = X.drop_duplicates(subset=['Team 1 URL'], keep='first')
X = X.dropna()
X['Team 1 Zipcode'] = X['Team 1 Zipcode'].astype(int).astype(str)
X

,Team 1,Team 1 URL,Team 1 Address,Team 1 Zipcode
0,Academy of Holy Angels,/mn/richfield/academy-of-holy-angels-stars/bas...,6600 Nicollet Ave S,55423
30,Alden-Conger,/mn/alden/alden-conger-knights/basketball/21-2...,215 N Broadway,56009
57,Adrian,/mn/adrian/adrian-dragons/basketball/21-22/sch...,415 Kentucky Ave,56110
77,Academy for Sciences & Agriculture,/mn/vadnais-heights/academy-for-sciences-and-a...,100 E Vadnais Blvd,55127
93,Adrian/Ellsworth,/mn/adrian/adrian-ellsworth-dragons/basketball...,415 Kentucky Ave,56110
...,...,...,...,...
468234,Whitehall,/mt/whitehall/whitehall-trojans/basketball/21-...,1 West Yellowstone,59759
468247,Wibaux,/mt/wibaux/wibaux-longhorns/basketball/21-22/s...,121 F St. North,59353
468265,Wolf Point,/mt/wolf-point/wolf-point-wolves/basketball/21...,213 6Th Ave S,59201
468279,Whitefish,/mt/whitefish/whitefish-bulldogs/basketball/21...,1143 East 4th,59937
468294,White Sulphur Springs,/mt/white-sulphur-springs/white-sulphur-spring...,405 Central Ave S,59645

In [76]:
demo.dtypes
demo['Zipcode'] = demo['Zipcode'].astype(str)

merged_df = pd.merge(X, demo, left_on='Team 1 Zipcode', right_on='Zipcode', how='left')
merged_df

,Team 1,Team 1 URL,Team 1 Address,Team 1 Zipcode,School Name,Address,City,State,Zipcode,American Indian/Alaska Native,...,Grades 9-12 Students,Free and Reduced Lunch,Pupil/Teacher Ratio,Charter School,Magnet School,Private School,School ID,High School,Agency ID,Total Expenditures per Pupil
0,Academy of Holy Angels,/mn/richfield/academy-of-holy-angels-stars/bas...,6600 Nicollet Ave S,55423,ALC - SECA - EY,7450 Penn Ave So,Richfield,MN,55423,NaN,...,NaN,NaN,NaN,False,False,0.0,270002504957.0,1.0,2700025.0,†
1,Academy of Holy Angels,/mn/richfield/academy-of-holy-angels-stars/bas...,6600 Nicollet Ave S,55423,ALC RICHEFIELD - SUCCESS AT 15,7001 Harriet Ave S,Richfield,MN,55423,NaN,...,NaN,NaN,NaN,False,False,0.0,270002503255.0,1.0,2700025.0,†
2,Academy of Holy Angels,/mn/richfield/academy-of-holy-angels-stars/bas...,6600 Nicollet Ave S,55423,ALC RICHFIELD HS-IS,7001 Harriet Ave S,Richfield,MN,55423,NaN,...,NaN,NaN,NaN,False,False,0.0,270002503245.0,1.0,2700025.0,†
3,Academy of Holy Angels,/mn/richfield/academy-of-holy-angels-stars/bas...,6600 Nicollet Ave S,55423,RICHFIELD COLLEGE EXPERIENCE PRG,7201 4Th Ave S,Richfield,MN,55423,0.0,...,58.0,0.655,20.00,False,False,0.0,273175004395.0,1.0,2731750.0,26580
4,Academy of Holy Angels,/mn/richfield/academy-of-holy-angels-stars/bas...,6600 Nicollet Ave S,55423,RICHFIELD HS ALC,7001 Harriet Ave S,Richfield,MN,55423,NaN,...,NaN,NaN,NaN,False,False,0.0,270002505526.0,1.0,2700025.0,†
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54229,Whitehall,/mt/whitehall/whitehall-trojans/basketball/21-...,1 West Yellowstone,59759,WHITEHALL HIGH SCHOOL,1 W Yellowstone,Whitehall,MT,59759,0.8,...,130.0,0.000,16.25,True,True,0.0,302784000778.0,1.0,3027840.0,11500
54230,Wibaux,/mt/wibaux/wibaux-longhorns/basketball/21-22/s...,121 F St. North,59353,WIBAUX HIGH SCHOOL,121 F Street North,Wibaux,MT,59353,0.0,...,38.0,0.000,7.25,True,True,0.0,302802000783.0,1.0,3028020.0,31706
54231,Wolf Point,/mt/wolf-point/wolf-point-wolves/basketball/21...,213 6Th Ave S,59201,WOLF POINT HIGH SCHOOL,213 6Th Avenue South,Wolf Point,MT,59201,65.7,...,239.0,0.000,13.28,True,True,0.0,302862000799.0,1.0,3028620.0,14004
54232,Whitefish,/mt/whitefish/whitefish-bulldogs/basketball/21...,1143 East 4th,59937,WHITEFISH HIGH SCHOOL,1143 East 4Th St.,Whitefish,MT,59937,0.5,...,576.0,0.000,13.71,True,True,0.0,302779000775.0,1.0,3027790.0,14383
54233,White Sulphur Springs,/mt/white-sulphur-springs/white-sulphur-spring...,405 Central Ave S,59645,WHITE SULPHUR SPRINGS HS,405 Central Avenue South,White Sulphur Springs,MT,59645,0.0,...,67.0,0.000,10.84,True,True,0.0,302877000803.0,1.0,3028770.0,18734

In [77]:
from thefuzz import fuzz, process
def fuzzy_match(df, id_column, team_address_column, address_column, threshold=60):
    """
    Perform fuzzy matching between 'team_address_column' and 'address_column' within groups identified by 'id_column'
    in the DataFrame 'df'. Rows with similarity scores above the specified 'threshold' are considered a match.
    Returns a DataFrame containing the matched rows.
    """
    matches = pd.DataFrame()
    grouped = df.groupby(id_column)
    no_match = []

    # Iterate over groups
    for _, group_df in grouped:
        # Initialize a variable to keep track of whether a match is found
        match_found = False

        # Iterate over rows in the group
        for index, row in group_df.iterrows():
            # Compare 'team_address_column' with 'address_column' using fuzzy string matching
            similarity_score = fuzz.partial_ratio(row[team_address_column], row[address_column])

            # If similarity score is above the threshold, consider it a match
            if similarity_score >= threshold:
                # Append the matched row to the filtered DataFrame
                matches = pd.concat([matches, pd.DataFrame([row])])
                match_found = True
                break  # Stop comparing once a match is found

        # If no match is found for any row in the group, append all rows to filtered DataFrame
        if not match_found:
            no_match.append(row[id_column])

    return matches, no_match

# Example usage:
# matched_rows = fuzzy_match(df=my_dataframe, id_column='ID', team_address_column='Team 1 Address', address_column='Address')

In [78]:
matches, no_matches = fuzzy_match(merged_df, 'Team 1 URL', 'Team 1 Address', 'Address')

In [81]:
matches.drop(columns = ['Team 1', 'Team 1 Address', 'Team 1 Zipcode', 'Zipcode', 'State', 'City', 'Address', 'School Name'], inplace=True)
matches

,Team 1 URL,American Indian/Alaska Native,Asian or Asian/Pacific Islander,Hispanic,Black,White,Nat. Hawaiian or Other Pacific Isl.,Two or More Races,Total Students,Grades 9-12 Students,Free and Reduced Lunch,Pupil/Teacher Ratio,Charter School,Magnet School,Private School,School ID,High School,Agency ID,Total Expenditures per Pupil
17232,/ak/anchorage/bettye-davis-east-anchorage-thun...,6.4,9.6,7.6,5.6,59.8,1.2,10.0,251.0,251.0,0.000,125.50,False,False,0.0,20018000763.0,1.0,200180.0,19178
17280,/ak/anchorage/dimond-lynx/basketball/21-22/sch...,8.3,13.9,9.0,2.0,42.1,6.8,18.0,1418.0,1418.0,0.000,21.90,False,True,0.0,20018000073.0,1.0,200180.0,19178
17363,/ak/anchorage/lumen-christi-archangels/basketb...,9.1,9.1,7.6,0.0,65.2,1.5,7.6,66.0,41.0,NaN,7.67,True,True,1.0,A9900095,1.0,NaN,NaN
17357,/ak/anchorage/mountain-city-christian-academy-...,22.6,3.2,3.2,9.7,54.8,0.0,6.5,31.0,6.0,0.000,15.50,False,False,0.0,20018000341.0,1.0,200180.0,19178
17398,/ak/anchorage/service-cougars/basketball/21-22...,9.0,15.5,11.7,3.7,40.6,4.4,15.0,1508.0,1508.0,0.000,21.92,False,True,0.0,20018000531.0,1.0,200180.0,19178
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49949,/wy/torrington/torrington-trailblazers/basketb...,0.0,0.0,26.3,0.0,68.4,0.0,5.3,19.0,19.0,0.316,16.67,False,True,0.0,560299000585.0,1.0,5602990.0,22560
49941,/wy/upton/upton-bobcats/basketball/21-22/sched...,0.0,0.0,1.3,1.3,94.7,0.0,2.6,76.0,76.0,0.237,6.79,False,True,0.0,560609000401.0,1.0,5606090.0,29351
49942,/wy/worland/worland-warriors/basketball/21-22/...,1.0,0.5,24.9,0.0,71.4,0.2,2.0,405.0,405.0,0.309,12.93,False,True,0.0,560624000343.0,1.0,5606240.0,20652
49944,/wy/wright/wright-panthers/basketball/21-22/sc...,3.1,0.0,12.4,0.0,82.5,0.0,2.1,194.0,130.0,0.273,10.50,False,True,0.0,560147000429.0,1.0,5601470.0,19026
49928,/wy/yoder/southeast-cyclones/basketball/21-22/...,0.0,1.4,1.4,0.0,95.7,0.0,1.4,70.0,70.0,0.171,7.71,False,True,0.0,560299000483.0,1.0,5602990.0,22560

In [91]:
#merge the deomgraphic data with the maxpreps data
final_df = pd.merge(maxpreps, matches, on='Team 1 URL', how='left')
final_df

,Date,Team 1,Team 2,Venue,Game Type,Team 1 Score,Team 2 Score,Outcome,Team 1 Address,Team 1 City,...,Grades 9-12 Students,Free and Reduced Lunch,Pupil/Teacher Ratio,Charter School,Magnet School,Private School,School ID,High School,Agency ID,Total Expenditures per Pupil
0,12/2,Academy of Holy Angels,Edison,H,Regular Season,72.0,62.0,L,6600 Nicollet Ave S,Richfield,...,NaN,NaN,NaN,False,False,0.0,270002503255.0,1.0,2700025.0,†
1,12/7,Academy of Holy Angels,Minneapolis Southwest,A,Regular Season,62.0,37.0,L,6600 Nicollet Ave S,Richfield,...,NaN,NaN,NaN,False,False,0.0,270002503255.0,1.0,2700025.0,†
2,12/9,Academy of Holy Angels,Highland Park,A,Regular Season,65.0,50.0,W,6600 Nicollet Ave S,Richfield,...,NaN,NaN,NaN,False,False,0.0,270002503255.0,1.0,2700025.0,†
3,12/14,Academy of Holy Angels,Two Rivers,H,Regular Season,74.0,69.0,L,6600 Nicollet Ave S,Richfield,...,NaN,NaN,NaN,False,False,0.0,270002503255.0,1.0,2700025.0,†
4,12/16,Academy of Holy Angels,St. Thomas,H,Regular Season,74.0,70.0,L,6600 Nicollet Ave S,Richfield,...,NaN,NaN,NaN,False,False,0.0,270002503255.0,1.0,2700025.0,†
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
468312,2/10,White Sulphur Springs,West Yellowstone,H,District,77.0,54.0,L,405 Central Ave S,White Sulphur Springs,...,67.0,0.0,10.84,True,True,0.0,302877000803.0,1.0,3028770.0,18734
468313,2/12,White Sulphur Springs,Shields Valley,H,District,91.0,59.0,L,405 Central Ave S,White Sulphur Springs,...,67.0,0.0,10.84,True,True,0.0,302877000803.0,1.0,3028770.0,18734
468314,2/16,White Sulphur Springs,Lone Peak,H,Playoff,71.0,60.0,W,405 Central Ave S,White Sulphur Springs,...,67.0,0.0,10.84,True,True,0.0,302877000803.0,1.0,3028770.0,18734
468315,2/17,White Sulphur Springs,Shields Valley,H,Playoff,74.0,48.0,L,405 Central Ave S,White Sulphur Springs,...,67.0,0.0,10.84,True,True,0.0,302877000803.0,1.0,3028770.0,18734
468316,2/18,White Sulphur Springs,Ennis,H,Playoff,62.0,46.0,L,405 Central Ave S,White Sulphur Springs,...,67.0,0.0,10.84,True,True,0.0,302877000803.0,1.0,3028770.0,18734

In [92]:
#make function that will rename the columns to indicate what team the data is for
def add_team_to_column(df, cols, team_to_add):
    for col in cols:
        df.rename(columns = {col: team_to_add + ' ' + col}, inplace=True)


    return df

In [93]:
final_df.columns
cols = ['American Indian/Alaska Native',
       'Asian or Asian/Pacific Islander', 'Hispanic', 'Black', 'White',
       'Nat. Hawaiian or Other Pacific Isl.', 'Two or More Races',
       'Total Students', 'Grades 9-12 Students', 'Free and Reduced Lunch',
       'Pupil/Teacher Ratio', 'Charter School', 'Magnet School',
       'Private School', 'School ID', 'High School', 'Agency ID',
       'Total Expenditures per Pupil']
add_team_to_column(final_df, cols, 'Team 1')
final_df.columns

Index(['Date', 'Team 1', 'Team 2', 'Venue', 'Game Type', 'Team 1 Score',
       'Team 2 Score', 'Outcome', 'Team 1 Address', 'Team 1 City',
       'Team 1 State', 'Team 1 Zipcode', 'Team 1 URL', 'Team 2 URL',
       'Team 1 Boys Sports', 'Team 1 Girls Sports', 'Team 1 SOS',
       'Team 1 State Rank', 'Team 1 Rating', 'Team 2 Address', 'Team 2 City',
       'Team 2 State', 'Team 2 Zipcode', 'Team 2 Boys Sports',
       'Team 2 Girls Sports', 'Team 2 SOS', 'Team 2 State Rank',
       'Team 2 Rating', 'Team 1 American Indian/Alaska Native',
       'Team 1 Asian or Asian/Pacific Islander', 'Team 1 Hispanic',
       'Team 1 Black', 'Team 1 White',
       'Team 1 Nat. Hawaiian or Other Pacific Isl.',
       'Team 1 Two or More Races', 'Team 1 Total Students',
       'Team 1 Grades 9-12 Students', 'Team 1 Free and Reduced Lunch',
       'Team 1 Pupil/Teacher Ratio', 'Team 1 Charter School',
       'Team 1 Magnet School', 'Team 1 Private School', 'Team 1 School ID',
       'Team 1 High School', 'Team 1 Agency ID',
       'Team 1 Total Expenditures per Pupil'],
      dtype='object')

In [97]:
final_df.columns

Index(['Date', 'Team 1', 'Team 2', 'Venue', 'Game Type', 'Team 1 Score',
       'Team 2 Score', 'Outcome', 'Team 1 Address', 'Team 1 City',
       'Team 1 State', 'Team 1 Zipcode', 'Team 1 URL', 'Team 2 URL',
       'Team 1 Boys Sports', 'Team 1 Girls Sports', 'Team 1 SOS',
       'Team 1 State Rank', 'Team 1 Rating', 'Team 2 Address', 'Team 2 City',
       'Team 2 State', 'Team 2 Zipcode', 'Team 2 Boys Sports',
       'Team 2 Girls Sports', 'Team 2 SOS', 'Team 2 State Rank',
       'Team 2 Rating', 'Team 1 American Indian/Alaska Native',
       'Team 1 Asian or Asian/Pacific Islander', 'Team 1 Hispanic',
       'Team 1 Black', 'Team 1 White',
       'Team 1 Nat. Hawaiian or Other Pacific Isl.',
       'Team 1 Two or More Races', 'Team 1 Total Students',
       'Team 1 Grades 9-12 Students', 'Team 1 Free and Reduced Lunch',
       'Team 1 Pupil/Teacher Ratio', 'Team 1 Charter School',
       'Team 1 Magnet School', 'Team 1 Private School', 'Team 1 School ID',
       'Team 1 High School', 'Team 1 Agency ID',
       'Team 1 Total Expenditures per Pupil'],
      dtype='object')

In [98]:
#repeat this process to fill in the team 2 demographic data

final_df = pd.merge(final_df, matches, left_on='Team 2 URL', right_on='Team 1 URL', how='left')
final_df

,Date,Team 1,Team 2,Venue,Game Type,Team 1 Score,Team 2 Score,Outcome,Team 1 Address,Team 1 City,...,Grades 9-12 Students,Free and Reduced Lunch,Pupil/Teacher Ratio,Charter School,Magnet School,Private School,School ID,High School,Agency ID,Total Expenditures per Pupil
0,12/2,Academy of Holy Angels,Edison,H,Regular Season,72.0,62.0,L,6600 Nicollet Ave S,Richfield,...,933.0,0.712,0.00,False,False,0.0,272124000958.0,1.0,2721240.0,22524
1,12/7,Academy of Holy Angels,Minneapolis Southwest,A,Regular Season,62.0,37.0,L,6600 Nicollet Ave S,Richfield,...,2.0,0.000,0.33,False,False,0.0,272124001948.0,1.0,2721240.0,22524
2,12/9,Academy of Holy Angels,Highland Park,A,Regular Season,65.0,50.0,W,6600 Nicollet Ave S,Richfield,...,60.0,0.250,352.94,True,False,0.0,270013805534.0,1.0,2700138.0,15261
3,12/14,Academy of Holy Angels,Two Rivers,H,Regular Season,74.0,69.0,L,6600 Nicollet Ave S,Richfield,...,21.0,0.143,8.43,False,False,0.0,274227004387.0,1.0,2742270.0,24542
4,12/16,Academy of Holy Angels,St. Thomas,H,Regular Season,74.0,70.0,L,6600 Nicollet Ave S,Richfield,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
468312,2/10,White Sulphur Springs,West Yellowstone,H,District,77.0,54.0,L,405 Central Ave S,White Sulphur Springs,...,86.0,0.000,14.41,True,True,0.0,302763000769.0,1.0,3027630.0,12954
468313,2/12,White Sulphur Springs,Shields Valley,H,District,91.0,59.0,L,405 Central Ave S,White Sulphur Springs,...,53.0,0.000,7.18,True,True,0.0,300093301026.0,1.0,3000933.0,24981
468314,2/16,White Sulphur Springs,Lone Peak,H,Playoff,71.0,60.0,W,405 Central Ave S,White Sulphur Springs,...,109.0,0.000,11.41,True,True,0.0,300065401099.0,1.0,3000654.0,19677
468315,2/17,White Sulphur Springs,Shields Valley,H,Playoff,74.0,48.0,L,405 Central Ave S,White Sulphur Springs,...,53.0,0.000,7.18,True,True,0.0,300093301026.0,1.0,3000933.0,24981
468316,2/18,White Sulphur Springs,Ennis,H,Playoff,62.0,46.0,L,405 Central Ave S,White Sulphur Springs,...,124.0,0.000,10.51,True,True,0.0,300993000277.0,1.0,3009930.0,13997

In [100]:
final_df.columns
#reanme the columns to indicate that they are for team 2
cols = ['American Indian/Alaska Native', 'Asian or Asian/Pacific Islander',
       'Hispanic', 'Black', 'White', 'Nat. Hawaiian or Other Pacific Isl.',
       'Two or More Races', 'Total Students', 'Grades 9-12 Students',
       'Free and Reduced Lunch', 'Pupil/Teacher Ratio', 'Charter School',
       'Magnet School', 'Private School', 'School ID', 'High School',
       'Agency ID', 'Total Expenditures per Pupil']
add_team_to_column(final_df, cols, 'Team 2')
final_df.columns

Index(['Date', 'Team 1', 'Team 2', 'Venue', 'Game Type', 'Team 1 Score',
       'Team 2 Score', 'Outcome', 'Team 1 Address', 'Team 1 City',
       'Team 1 State', 'Team 1 Zipcode', 'Team 1 URL_x', 'Team 2 URL',
       'Team 1 Boys Sports', 'Team 1 Girls Sports', 'Team 1 SOS',
       'Team 1 State Rank', 'Team 1 Rating', 'Team 2 Address', 'Team 2 City',
       'Team 2 State', 'Team 2 Zipcode', 'Team 2 Boys Sports',
       'Team 2 Girls Sports', 'Team 2 SOS', 'Team 2 State Rank',
       'Team 2 Rating', 'Team 1 American Indian/Alaska Native',
       'Team 1 Asian or Asian/Pacific Islander', 'Team 1 Hispanic',
       'Team 1 Black', 'Team 1 White',
       'Team 1 Nat. Hawaiian or Other Pacific Isl.',
       'Team 1 Two or More Races', 'Team 1 Total Students',
       'Team 1 Grades 9-12 Students', 'Team 1 Free and Reduced Lunch',
       'Team 1 Pupil/Teacher Ratio', 'Team 1 Charter School',
       'Team 1 Magnet School', 'Team 1 Private School', 'Team 1 School ID',
       'Team 1 High School', 'Team 1 Agency ID',
       'Team 1 Total Expenditures per Pupil', 'Team 1 URL_y',
       'Team 2 American Indian/Alaska Native',
       'Team 2 Asian or Asian/Pacific Islander', 'Team 2 Hispanic',
       'Team 2 Black', 'Team 2 White',
       'Team 2 Nat. Hawaiian or Other Pacific Isl.',
       'Team 2 Two or More Races', 'Team 2 Total Students',
       'Team 2 Grades 9-12 Students', 'Team 2 Free and Reduced Lunch',
       'Team 2 Pupil/Teacher Ratio', 'Team 2 Charter School',
       'Team 2 Magnet School', 'Team 2 Private School', 'Team 2 School ID',
       'Team 2 High School', 'Team 2 Agency ID',
       'Team 2 Total Expenditures per Pupil'],
      dtype='object')

In [127]:
final_df = final_df.drop(columns=['Team 1 URL_y']).rename(columns={'Team 1 URL_x': 'Team 1 URL'})

In [119]:
pd.set_option('display.max_columns', None)  # Show all columns

In [126]:
final_df[(final_df['Team 1'] == 'Bowie') & (final_df['Team 1 City'] == 'Austin') & (final_df['Team 2'] == 'Austin') & (final_df['Team 2 City'] == 'Austin')]

,Date,Team 1,Team 2,Venue,Game Type,Team 1 Score,Team 2 Score,Outcome,Team 1 Address,Team 1 City,Team 1 State,Team 1 Zipcode,Team 1 URL_x,Team 2 URL,Team 1 Boys Sports,Team 1 Girls Sports,Team 1 SOS,Team 1 State Rank,Team 1 Rating,Team 2 Address,Team 2 City,Team 2 State,Team 2 Zipcode,Team 2 Boys Sports,Team 2 Girls Sports,Team 2 SOS,Team 2 State Rank,Team 2 Rating,Team 1 American Indian/Alaska Native,Team 1 Asian or Asian/Pacific Islander,Team 1 Hispanic,Team 1 Black,Team 1 White,Team 1 Nat. Hawaiian or Other Pacific Isl.,Team 1 Two or More Races,Team 1 Total Students,Team 1 Grades 9-12 Students,Team 1 Free and Reduced Lunch,Team 1 Pupil/Teacher Ratio,Team 1 Charter School,Team 1 Magnet School,Team 1 Private School,Team 1 School ID,Team 1 High School,Team 1 Agency ID,Team 1 Total Expenditures per Pupil,Team 1 URL_y,Team 2 American Indian/Alaska Native,Team 2 Asian or Asian/Pacific Islander,Team 2 Hispanic,Team 2 Black,Team 2 White,Team 2 Nat. Hawaiian or Other Pacific Isl.,Team 2 Two or More Races,Team 2 Total Students,Team 2 Grades 9-12 Students,Team 2 Free and Reduced Lunch,Team 2 Pupil/Teacher Ratio,Team 2 Charter School,Team 2 Magnet School,Team 2 Private School,Team 2 School ID,Team 2 High School,Team 2 Agency ID,Team 2 Total Expenditures per Pupil
85559,1/18,Bowie,Austin,A,District,64.0,53.0,W,4103 Slaughter Ln W,Austin,TX,78749.0,/tx/austin/bowie-bulldogs/basketball/21-22/sch...,/tx/austin/austin-maroons/basketball/21-22/sch...,"Baseball,Basketball,Cross Country,Football,Lac...","Basketball,Cross Country,Lacrosse,Soccer,Softb...",14.7,347,12.69,1715 W Cesar Chavez St,Austin,TX,78703.0,"Baseball,Basketball,Football,Golf,Lacrosse,Soc...","Basketball,Lacrosse,Soccer,Softball,Track & Fi...",12.6,714.0,3.42,0.3,5.2,28.8,1.9,58.7,0.2,4.9,2828.0,2828.0,0.11,16.9,False,False,0.0,480894006508.0,1.0,4808940.0,26732,/tx/austin/austin-maroons/basketball/21-22/sch...,0.2,2.4,35.5,3.3,53.8,0.1,4.7,2381.0,2381.0,0.222,18.04,False,False,0.0,480894000294.0,1.0,4808940.0,26732
85566,2/11,Bowie,Austin,H,District,33.0,26.0,L,4103 Slaughter Ln W,Austin,TX,78749.0,/tx/austin/bowie-bulldogs/basketball/21-22/sch...,/tx/austin/austin-maroons/basketball/21-22/sch...,"Baseball,Basketball,Cross Country,Football,Lac...","Basketball,Cross Country,Lacrosse,Soccer,Softb...",14.7,347,12.69,1715 W Cesar Chavez St,Austin,TX,78703.0,"Baseball,Basketball,Football,Golf,Lacrosse,Soc...","Basketball,Lacrosse,Soccer,Softball,Track & Fi...",12.6,714.0,3.42,0.3,5.2,28.8,1.9,58.7,0.2,4.9,2828.0,2828.0,0.11,16.9,False,False,0.0,480894006508.0,1.0,4808940.0,26732,/tx/austin/austin-maroons/basketball/21-22/sch...,0.2,2.4,35.5,3.3,53.8,0.1,4.7,2381.0,2381.0,0.222,18.04,False,False,0.0,480894000294.0,1.0,4808940.0,26732

In [128]:
#save the final dataset
final_df.to_csv('final_data.csv', index=False)