In [1]:
import pandas as pd
import os

In [2]:
os.getcwd()

'/Users/rdhir/Documents/Research_Project/Notebooks'

In [3]:
os.chdir('/Users/rdhir/Documents/Research_Project/Data')

In [4]:
os.getcwd()

'/Users/rdhir/Documents/Research_Project/Data'

In [5]:
ls

Demographics.csv       finance.csv            public_schools1.csv
MaxPreps.csv           maxpreps_and_demo.csv  regression_subset.csv
States/                private_schools.csv
agency_id.csv          public_schools.csv

In [6]:
data = pd.read_csv('maxpreps_and_demo.csv')

In [7]:
agency_id = pd.read_csv('agency_id.csv')

In [8]:
#we dont need allat
agency_id.drop(columns = ['School Name', 'State Name [Public School] Latest available year',
                         'Location Address 1 [Public School] 2021-22','Location City [Public School] 2021-22'], inplace = True)

In [9]:
#rename columns to be a little cleaner
agency_id = agency_id.rename(columns = {'School ID - NCES Assigned [Public School] Latest available year': 'School ID',
                           'Agency ID - NCES Assigned [Public School] Latest available year': 'Agency ID'})

In [10]:
##change dtype to str so that we can merge
agency_id['School ID'] = agency_id['School ID'].astype(str)

In [11]:
#drop nulls and duplicates
agency_id = agency_id.dropna().drop_duplicates(subset = ['School ID'])

In [12]:
agency_id

             School ID  Agency ID
0       340789002868.0  3407890.0
1       250732002639.0  2507320.0
2       320006000670.0  3200060.0
3       320006000756.0  3200060.0
4       530486002475.0  5304860.0
...                ...        ...
100118   63237010019.0   632370.0
100119  302891000807.0  3028910.0
100120  482574012662.0  4825740.0
100121  220138001117.0  2201380.0
100122  220138001118.0  2201380.0

[100123 rows x 2 columns]

In [13]:
#change dtype to str so that we can merge
cols_to_change = ['T1 School ID', 'T2 School ID']
data[cols_to_change] = data[cols_to_change].astype(str)

In [14]:
#add the team 1 agency IDs first by left joining
data = pd.merge(data,agency_id, left_on = 'T1 School ID', right_on = 'School ID', how = 'left').drop(columns = 'School ID').rename(columns={'Agency ID': 'T1 Agency ID'})

In [15]:
data

,Unnamed: 0,Date,Team 1,Team 2,Venue,Game Type,Team 1 Score,Team 2 Score,Outcome,Team 1 Address,...,T2 Grades 9-12 Students,T2 Free and Reduced Lunch,T2 Pupil/Teacher Ratio,T2 Charter School,T2 Magnet School,T2 Private School,T2 School ID,Team 1 Label,Team 2 Label,T1 Agency ID
0,0,12/3,Anoka,Roseville,H,Regular Season,87.0,81.0,W,3939 N 7Th Ave,...,2324.0,0.319,23.08,False,False,0.0,273243001385.0,1,336.0,2703180.0
1,1,12/6,Anoka,Irondale,H,Regular Season,58.0,78.0,L,3939 N 7Th Ave,...,1779.0,0.352,23.91,False,False,0.0,272295001118.0,1,175.0,2703180.0
2,2,12/9,Anoka,Fridley,H,Regular Season,65.0,68.0,L,3939 N 7Th Ave,...,86.0,0.546,40.15,False,False,0.0,271242005332.0,1,128.0,2703180.0
3,3,12/14,Anoka,Totino-Grace,H,Regular Season,53.0,91.0,L,3939 N 7Th Ave,...,80.0,NaN,13.44,True,True,1.0,A9502419,1,392.0,2703180.0
4,4,12/16,Anoka,Park Center,H,Regular Season,62.0,92.0,L,3939 N 7Th Ave,...,1786.0,0.636,17.12,False,True,0.0,272520001221.0,1,298.0,2703180.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
467741,467741,2/10,White Sulphur Springs,West Yellowstone,H,District,54.0,77.0,L,405 Central Ave S,...,86.0,0.000,14.41,True,True,0.0,302763000769.0,19567,19559.0,3028770.0
467742,467742,2/12,White Sulphur Springs,Shields Valley,H,District,59.0,91.0,L,405 Central Ave S,...,53.0,0.000,7.18,True,True,0.0,300093301026.0,19567,19536.0,3028770.0
467743,467743,2/16,White Sulphur Springs,Lone Peak,H,Playoff,71.0,60.0,W,405 Central Ave S,...,109.0,0.000,11.41,True,True,0.0,300065401099.0,19567,19503.0,3028770.0
467744,467744,2/17,White Sulphur Springs,Shields Valley,H,Playoff,48.0,74.0,L,405 Central Ave S,...,53.0,0.000,7.18,True,True,0.0,300093301026.0,19567,19536.0,3028770.0
467745,467745,2/18,White Sulphur Springs,Ennis,H,Playoff,46.0,62.0,L,405 Central Ave S,...,124.0,0.000,10.51,True,True,0.0,300993000277.0,19567,19460.0,3028770.0

In [16]:
#add the team 2 agency IDs first by left joining
data =pd.merge(data, agency_id, left_on='T2 School ID', right_on = 'School ID', how = 'left').drop(columns = 'School ID').rename(columns={'Agency ID': 'T2 Agency ID'})

In [17]:
#reorder them columns
data.columns
data.drop(columns = ['Unnamed: 0'], inplace = True)

cols = ['Date', 'Team 1', 'Team 2', 'Venue', 'Game Type',
       'Team 1 Score', 'Team 2 Score', 'Outcome', 'Team 1 Address',
       'Team 1 City', 'Team 1 State', 'Team 1 Zipcode', 'Team 2 Address',
       'Team 2 City', 'Team 2 State', 'Team 2 Zipcode', 'Team 1 Boys Sports',
       'Team 1 Girls Sports', 'Team 2 Boys Sports', 'Team 2 Girls Sports',
       'Team 1 ID', 'Team 2 ID', 'T1 American Indian/Alaska Native',
       'T1 Asian or Asian/Pacific Islander', 'T1 Hispanic', 'T1 Black',
       'T1 White', 'T1 Nat. Hawaiian or Other Pacific Isl.',
       'T1 Two or More Races', 'T1 Total Students', 'T1 Grades 9-12 Students',
       'T1 Free and Reduced Lunch', 'T1 Pupil/Teacher Ratio',
       'T1 Charter School', 'T1 Magnet School', 'T1 Private School','T1 School ID', 'T1 Agency ID',
       'T2 American Indian/Alaska Native',
       'T2 Asian or Asian/Pacific Islander', 'T2 Hispanic', 'T2 Black',
       'T2 White', 'T2 Nat. Hawaiian or Other Pacific Isl.',
       'T2 Two or More Races', 'T2 Total Students', 'T2 Grades 9-12 Students',
       'T2 Free and Reduced Lunch', 'T2 Pupil/Teacher Ratio',
       'T2 Charter School', 'T2 Magnet School','T2 Private School', 'T2 School ID','T2 Agency ID']
data = data[cols]

In [18]:
data

,Date,Team 1,Team 2,Venue,Game Type,Team 1 Score,Team 2 Score,Outcome,Team 1 Address,Team 1 City,...,T2 Two or More Races,T2 Total Students,T2 Grades 9-12 Students,T2 Free and Reduced Lunch,T2 Pupil/Teacher Ratio,T2 Charter School,T2 Magnet School,T2 Private School,T2 School ID,T2 Agency ID
0,12/3,Anoka,Roseville,H,Regular Season,87.0,81.0,W,3939 N 7Th Ave,Anoka,...,6.5,2324.0,2324.0,0.319,23.08,False,False,0.0,273243001385.0,2732430.0
1,12/6,Anoka,Irondale,H,Regular Season,58.0,78.0,L,3939 N 7Th Ave,Anoka,...,7.3,1779.0,1779.0,0.352,23.91,False,False,0.0,272295001118.0,2722950.0
2,12/9,Anoka,Fridley,H,Regular Season,65.0,68.0,L,3939 N 7Th Ave,Anoka,...,5.6,108.0,86.0,0.546,40.15,False,False,0.0,271242005332.0,2712420.0
3,12/14,Anoka,Totino-Grace,H,Regular Season,53.0,91.0,L,3939 N 7Th Ave,Anoka,...,55.8,393.0,80.0,NaN,13.44,True,True,1.0,A9502419,NaN
4,12/16,Anoka,Park Center,H,Regular Season,62.0,92.0,L,3939 N 7Th Ave,Anoka,...,5.9,1786.0,1786.0,0.636,17.12,False,True,0.0,272520001221.0,2725200.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
467741,2/10,White Sulphur Springs,West Yellowstone,H,District,54.0,77.0,L,405 Central Ave S,White Sulphur Springs,...,2.3,86.0,86.0,0.000,14.41,True,True,0.0,302763000769.0,3027630.0
467742,2/12,White Sulphur Springs,Shields Valley,H,District,59.0,91.0,L,405 Central Ave S,White Sulphur Springs,...,0.0,53.0,53.0,0.000,7.18,True,True,0.0,300093301026.0,3000933.0
467743,2/16,White Sulphur Springs,Lone Peak,H,Playoff,71.0,60.0,W,405 Central Ave S,White Sulphur Springs,...,1.8,109.0,109.0,0.000,11.41,True,True,0.0,300065401099.0,3000654.0
467744,2/17,White Sulphur Springs,Shields Valley,H,Playoff,48.0,74.0,L,405 Central Ave S,White Sulphur Springs,...,0.0,53.0,53.0,0.000,7.18,True,True,0.0,300093301026.0,3000933.0
467745,2/18,White Sulphur Springs,Ennis,H,Playoff,46.0,62.0,L,405 Central Ave S,White Sulphur Springs,...,0.8,124.0,124.0,0.000,10.51,True,True,0.0,300993000277.0,3009930.0

In [19]:
finance = pd.read_csv('finance.csv')

In [20]:
finance

,Agency Name,State Name [District] Latest available year,Total Expenditures (TOTALEXP) per Pupil (V33) [District Finance] 2020-21,Agency ID - NCES Assigned [District] Latest available year
0,21ST CENTURY CHARTER SCH OF GARY,Indiana,11753,1800046.0
1,21ST CENTURY CYBER CS,Pennsylvania,8424,4200091.0
2,21ST CENTURY PUBLIC ACADEMY,NEW MEXICO,11652,3500187.0
3,A E R O SPEC EDUC COOP,Illinois,â€,1700024.0
4,A W BEATTIE CAREER CENTER,Pennsylvania,â€,4280010.0
...,...,...,...,...
19387,ZURICH ELEM,Montana,19550,3028910.0
19388,Data Source: U.S. Department of Education Nati...,NaN,NaN,NaN
19389,â€ indicates that the data are not applicable.,NaN,NaN,NaN
19390,â€“ indicates that the data are missing.,NaN,NaN,NaN
19391,â€¡ indicates that the data do not meet NCES dat...,NaN,NaN,NaN

In [21]:
#drop the duplicate district IDs
finance.drop_duplicates(subset=['Agency ID - NCES Assigned [District] Latest available year'], inplace = True)

In [22]:
#drop the null values for agency ID
finance.dropna(subset = ['Agency ID - NCES Assigned [District] Latest available year'], inplace = True)

In [23]:
#subset the columns from the finance df that we want to merge onto the main df
cols = ['Agency ID - NCES Assigned [District] Latest available year', 'Total Expenditures (TOTALEXP) per Pupil (V33) [District Finance] 2020-21']
X = finance[cols]

#rename the columns something better
X.rename(columns = {'Agency ID - NCES Assigned [District] Latest available year' : 'Agency ID',
                    'Total Expenditures (TOTALEXP) per Pupil (V33) [District Finance] 2020-21' : 'Total Expenditures/Pupil'}, inplace = True)

/var/folders/vl/lnfg4f0d5872pfxx4dys19km0000gn/T/ipykernel_49271/1710066633.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X.rename(columns = {'Agency ID - NCES Assigned [District] Latest available year' : 'Agency ID',

In [24]:
X

       Agency ID Total Expenditures/Pupil
0      1800046.0                    11753
1      4200091.0                     8424
2      3500187.0                    11652
3      1700024.0                        â€
4      4280010.0                        â€
...          ...                      ...
19383  1802830.0                    12270
19384  2700054.0                        â€
19385  2745735.0                    29076
19386  3502800.0                    19435
19387  3028910.0                    19550

[19388 rows x 2 columns]

In [25]:
#Add the Team 1 Expenditures per Pupil by left joining
data = pd.merge(data, X, left_on = 'T1 Agency ID', right_on = 'Agency ID', how = 'left').drop(columns = 'Agency ID').rename(columns = {'Total Expenditures/Pupil': 'T1 Expenditures/Pupil'})

In [26]:
#Add the Team 2 Expenditures per Pupil by left joining
data = pd.merge(data, X, left_on = 'T2 Agency ID', right_on = 'Agency ID', how = 'left').drop(columns = 'Agency ID').rename(columns = {'Total Expenditures/Pupil': 'T2 Expenditures/Pupil'})

In [27]:
data

,Date,Team 1,Team 2,Venue,Game Type,Team 1 Score,Team 2 Score,Outcome,Team 1 Address,Team 1 City,...,T2 Grades 9-12 Students,T2 Free and Reduced Lunch,T2 Pupil/Teacher Ratio,T2 Charter School,T2 Magnet School,T2 Private School,T2 School ID,T2 Agency ID,T1 Expenditures/Pupil,T2 Expenditures/Pupil
0,12/3,Anoka,Roseville,H,Regular Season,87.0,81.0,W,3939 N 7Th Ave,Anoka,...,2324.0,0.319,23.08,False,False,0.0,273243001385.0,2732430.0,16968,26196
1,12/6,Anoka,Irondale,H,Regular Season,58.0,78.0,L,3939 N 7Th Ave,Anoka,...,1779.0,0.352,23.91,False,False,0.0,272295001118.0,2722950.0,16968,17897
2,12/9,Anoka,Fridley,H,Regular Season,65.0,68.0,L,3939 N 7Th Ave,Anoka,...,86.0,0.546,40.15,False,False,0.0,271242005332.0,2712420.0,16968,17166
3,12/14,Anoka,Totino-Grace,H,Regular Season,53.0,91.0,L,3939 N 7Th Ave,Anoka,...,80.0,NaN,13.44,True,True,1.0,A9502419,NaN,16968,NaN
4,12/16,Anoka,Park Center,H,Regular Season,62.0,92.0,L,3939 N 7Th Ave,Anoka,...,1786.0,0.636,17.12,False,True,0.0,272520001221.0,2725200.0,16968,17547
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
467741,2/10,White Sulphur Springs,West Yellowstone,H,District,54.0,77.0,L,405 Central Ave S,White Sulphur Springs,...,86.0,0.000,14.41,True,True,0.0,302763000769.0,3027630.0,18734,12954
467742,2/12,White Sulphur Springs,Shields Valley,H,District,59.0,91.0,L,405 Central Ave S,White Sulphur Springs,...,53.0,0.000,7.18,True,True,0.0,300093301026.0,3000933.0,18734,24981
467743,2/16,White Sulphur Springs,Lone Peak,H,Playoff,71.0,60.0,W,405 Central Ave S,White Sulphur Springs,...,109.0,0.000,11.41,True,True,0.0,300065401099.0,3000654.0,18734,19677
467744,2/17,White Sulphur Springs,Shields Valley,H,Playoff,48.0,74.0,L,405 Central Ave S,White Sulphur Springs,...,53.0,0.000,7.18,True,True,0.0,300093301026.0,3000933.0,18734,24981
467745,2/18,White Sulphur Springs,Ennis,H,Playoff,46.0,62.0,L,405 Central Ave S,White Sulphur Springs,...,124.0,0.000,10.51,True,True,0.0,300993000277.0,3009930.0,18734,13997

In [28]:
#final reorder columns and drop and format
data.columns
#data.drop(columns = ['Team 1 ID', 'Team 2 ID'], inplace = True)

cols = ['Date', 'Team 1', 'Team 2', 'Venue', 'Game Type', 'Team 1 Score',
       'Team 2 Score', 'Outcome', 'Team 1 Address', 'Team 1 City',
       'Team 1 State', 'Team 1 Zipcode', 'Team 2 Address', 'Team 2 City',
       'Team 2 State', 'Team 2 Zipcode', 'Team 1 Boys Sports',
       'Team 1 Girls Sports', 'Team 2 Boys Sports', 'Team 2 Girls Sports',
        'T1 American Indian/Alaska Native',
       'T1 Asian or Asian/Pacific Islander', 'T1 Hispanic', 'T1 Black',
       'T1 White', 'T1 Nat. Hawaiian or Other Pacific Isl.',
       'T1 Two or More Races', 'T1 Total Students', 'T1 Grades 9-12 Students',
       'T1 Free and Reduced Lunch', 'T1 Pupil/Teacher Ratio',
       'T1 Charter School', 'T1 Magnet School', 'T1 Private School',
        'T1 Expenditures/Pupil', 'T1 School ID', 'T1 Agency ID',
       'T2 American Indian/Alaska Native',
       'T2 Asian or Asian/Pacific Islander', 'T2 Hispanic', 'T2 Black',
       'T2 White', 'T2 Nat. Hawaiian or Other Pacific Isl.',
       'T2 Two or More Races', 'T2 Total Students', 'T2 Grades 9-12 Students',
       'T2 Free and Reduced Lunch', 'T2 Pupil/Teacher Ratio',
       'T2 Charter School', 'T2 Magnet School', 'T2 Private School', 'T2 Expenditures/Pupil',
        'T2 School ID', 'T2 Agency ID']
data = data[cols]

In [29]:
data.columns

Index(['Date', 'Team 1', 'Team 2', 'Venue', 'Game Type', 'Team 1 Score',
       'Team 2 Score', 'Outcome', 'Team 1 Address', 'Team 1 City',
       'Team 1 State', 'Team 1 Zipcode', 'Team 2 Address', 'Team 2 City',
       'Team 2 State', 'Team 2 Zipcode', 'Team 1 Boys Sports',
       'Team 1 Girls Sports', 'Team 2 Boys Sports', 'Team 2 Girls Sports',
       'T1 American Indian/Alaska Native',
       'T1 Asian or Asian/Pacific Islander', 'T1 Hispanic', 'T1 Black',
       'T1 White', 'T1 Nat. Hawaiian or Other Pacific Isl.',
       'T1 Two or More Races', 'T1 Total Students', 'T1 Grades 9-12 Students',
       'T1 Free and Reduced Lunch', 'T1 Pupil/Teacher Ratio',
       'T1 Charter School', 'T1 Magnet School', 'T1 Private School',
       'T1 Expenditures/Pupil', 'T1 School ID', 'T1 Agency ID',
       'T2 American Indian/Alaska Native',
       'T2 Asian or Asian/Pacific Islander', 'T2 Hispanic', 'T2 Black',
       'T2 White', 'T2 Nat. Hawaiian or Other Pacific Isl.',
       'T2 Two or More Races', 'T2 Total Students', 'T2 Grades 9-12 Students',
       'T2 Free and Reduced Lunch', 'T2 Pupil/Teacher Ratio',
       'T2 Charter School', 'T2 Magnet School', 'T2 Private School',
       'T2 Expenditures/Pupil', 'T2 School ID', 'T2 Agency ID'],
      dtype='object')

In [30]:
cols_to_convert = ['T1 Charter School', 'T1 Magnet School', 'T2 Charter School', 'T2 Magnet School']
for col in cols_to_convert:
    data[col].fillna(0, inplace=True)
data[cols_to_convert] = data[cols_to_convert].astype(int)

/var/folders/vl/lnfg4f0d5872pfxx4dys19km0000gn/T/ipykernel_49271/3826139119.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[col].fillna(0, inplace=True)
/var/folders/vl/lnfg4f0d5872pfxx4dys19km0000gn/T/ipykernel_49271/3826139119.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[cols_to_convert] = data[cols_to_convert].astype(int)

In [31]:
data

,Date,Team 1,Team 2,Venue,Game Type,Team 1 Score,Team 2 Score,Outcome,Team 1 Address,Team 1 City,...,T2 Total Students,T2 Grades 9-12 Students,T2 Free and Reduced Lunch,T2 Pupil/Teacher Ratio,T2 Charter School,T2 Magnet School,T2 Private School,T2 Expenditures/Pupil,T2 School ID,T2 Agency ID
0,12/3,Anoka,Roseville,H,Regular Season,87.0,81.0,W,3939 N 7Th Ave,Anoka,...,2324.0,2324.0,0.319,23.08,0,0,0.0,26196,273243001385.0,2732430.0
1,12/6,Anoka,Irondale,H,Regular Season,58.0,78.0,L,3939 N 7Th Ave,Anoka,...,1779.0,1779.0,0.352,23.91,0,0,0.0,17897,272295001118.0,2722950.0
2,12/9,Anoka,Fridley,H,Regular Season,65.0,68.0,L,3939 N 7Th Ave,Anoka,...,108.0,86.0,0.546,40.15,0,0,0.0,17166,271242005332.0,2712420.0
3,12/14,Anoka,Totino-Grace,H,Regular Season,53.0,91.0,L,3939 N 7Th Ave,Anoka,...,393.0,80.0,NaN,13.44,1,1,1.0,NaN,A9502419,NaN
4,12/16,Anoka,Park Center,H,Regular Season,62.0,92.0,L,3939 N 7Th Ave,Anoka,...,1786.0,1786.0,0.636,17.12,0,1,0.0,17547,272520001221.0,2725200.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
467741,2/10,White Sulphur Springs,West Yellowstone,H,District,54.0,77.0,L,405 Central Ave S,White Sulphur Springs,...,86.0,86.0,0.000,14.41,1,1,0.0,12954,302763000769.0,3027630.0
467742,2/12,White Sulphur Springs,Shields Valley,H,District,59.0,91.0,L,405 Central Ave S,White Sulphur Springs,...,53.0,53.0,0.000,7.18,1,1,0.0,24981,300093301026.0,3000933.0
467743,2/16,White Sulphur Springs,Lone Peak,H,Playoff,71.0,60.0,W,405 Central Ave S,White Sulphur Springs,...,109.0,109.0,0.000,11.41,1,1,0.0,19677,300065401099.0,3000654.0
467744,2/17,White Sulphur Springs,Shields Valley,H,Playoff,48.0,74.0,L,405 Central Ave S,White Sulphur Springs,...,53.0,53.0,0.000,7.18,1,1,0.0,24981,300093301026.0,3000933.0
467745,2/18,White Sulphur Springs,Ennis,H,Playoff,46.0,62.0,L,405 Central Ave S,White Sulphur Springs,...,124.0,124.0,0.000,10.51,1,1,0.0,13997,300993000277.0,3009930.0

In [32]:
data.to_csv('maxpreps_and_demo.csv')